/*---General----*/
body{
    background-color:#eee;
}

.navbar {
    background-color:#2E2E2E;
    border-bottom: 5px solid orange;
}

/*footer {
    color:white;
    background-color:#2E2E2E;
    border-top: 5px solid orange;

    <!--height:100px;
    width:100%;
    bottom: 0;
    position:fixed;-->
}
footer .row{
    margin-top:10px;
}*/


.footer {
    color:white;
    background-color:#2E2E2E;
    border-top: 5px solid orange;
}
footer div{
    margin-top:10px;
}

footer p{
    text-align:justify;
}

/*----SignUp and LogIn-----*/
h2{
    margin-top:0;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.form-in{
    margin-top:100px;
    margin-bottom:50px;
    background-color:#ffffff;
    border-radius: 10px;
    padding:15px;
    /*width: 500px;
    margin: 0 auto;*/
}

/*-----Login-----*/
.glyphicon.ico{
    top:0;
}
.line{
    border-top: 1px solid #eee;

}
.right p{
    margin:0;
}
.right{
    text-align: right;
}

/*-----SignUp-----*/
.img-circle{
    width: 140px;
    height: 140px;
}

.imgUser{
    width:140px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*----Landing-----*/

.row0{
    background-color: #18BD9B;
    height: 670px;
    margin-top:50px;
}

header{
    margin-top:100px;
    color:white;
}
hr{
    height:2px;
    background-color:white;
}
header h1{
    font-size:5em;
    font-weight: bold;
    margin-top:100px;
    text-align:center;
}

.row1, .row3{
    background-color: #eee;

}
.row1 div{
    margin-top:100px;
}

.row2{
    background-color: #fff;
}
.row2 div {
    margin-top:80px;
    margin-bottom: 80px;
    text-align:justify;
}

.row3 .row div{
    margin-top:20px;
    margin-bottom:20px;
}
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #999999;
}

.btn-orange {
    border-radius: 25px;
    color: #fff;
    background-color:orange;
}
.button{
    text-align: center;
}



